.container-hero-image {
  gap: 8px;
  height: 720px;
  width: 100vw;
  background-image: url('../assets//hero-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #121826;
  padding: 180px 180px;
  & h1 {
    font-size: 4.5rem;
    max-width: 600px;
  }
  & p {
    font-size: 2rem;
    color: #121826;
  }
  
}